* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  min-width: 280px;
  background: #000;
  -webkit-animation: filter-animation 8s infinite;
          animation: filter-animation 8s infinite;
}

a {
  text-decoration: none;
}

.info {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__items {
  margin-bottom: 25px;
}

.info__link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 0 1px #1b1831;
  color:hsl(220deg 9% 6%);
}

.info__textarea {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.info__popup {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  background: #0f1012;
  -webkit-box-shadow: 0px 1px 0px #25264a, 0px 4px 13px #1b1831;
          box-shadow: 0px 1px 0px #25264a, 0px 4px 13px #1b1831;
  border-radius: 3px;
  border: none;
  color: #292a43;
  padding: 10px 15px;
  opacity: 1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.info__popup_hidden {
  opacity: 0;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(80deg);
            filter: hue-rotate(80deg);
  }

  50% {
    -webkit-filter: hue-rotate(-40deg);
            filter: hue-rotate(-40deg);
  }

  100% {
    -webkit-filter: hue-rotate(80deg);
            filter: hue-rotate(80deg);
  }
}

@keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(80deg);
            filter: hue-rotate(80deg);
  }

  50% {
    -webkit-filter: hue-rotate(-40deg);
            filter: hue-rotate(-40deg);
  }

  100% {
    -webkit-filter: hue-rotate(80deg);
            filter: hue-rotate(80deg);
  }
}